<!doctype html>
<html lang="zxx">

<!-- Mirrored from envytheme.com/tf-demo/promedi/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2019 21:21:45 GMT -->
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap Min CSS -->
	<link rel="stylesheet" href="~/Public/css/bootstrap.min.css">
	<!-- IcoFont Min CSS -->
	<link rel="stylesheet" href="~/Public/css/icofont.min.css">
	<!-- Owl Carousel Min CSS -->
	<link rel="stylesheet" href="~/Public/css/owl.carousel.min.css">
	<!-- Owl Theme Default Min CSS -->
	<link rel="stylesheet" href="~/Public/css/owl.theme.default.min.css">
	<!-- Animate Min CSS -->
	<link rel="stylesheet" href="~/Public/css/animate.min.css">
	<!-- Magnific Popup Min CSS -->
	<link rel="stylesheet" href="~/Public/css/magnific-popup.css">
	<!-- Jquery UI CSS -->
	<link rel="stylesheet" href="~/Public/css/jquery.ui.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="~/Public/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/Public/css/responsive.css">

	<title>ProMedi - Medical HTML Template</title>

	<link rel="icon" type="image/png" href="~/Public/img/favicon.png">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="d-table">
			<div class="d-tablecell">
				<div class="lds-heart">
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader -->
	<!-- Start Error Area -->
	<section class="error-area">
		<div class="d-table">
			<div class="d-tablecell">
				<div class="container">
					<div class="error">
						<h2>
							<img src="~/Public/img/error.png" alt="error">

							404!
						</h2>

						<h4>Oops! Page Not Found</h4>

						<p>The page you were looking for could not be found.</p>

						<a href="index.html" class="default-btn">Return Home</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Error Area -->
	<!-- Jquery Min JS -->
	<script src="~/Public/js/jquery.min.js"></script>
	<!-- Popper Min JS -->
	<script src="~/Public/js/popper.min.js"></script>
	<!-- Bootstrap Min JS -->
	<script src="~/Public/js/bootstrap.min.js"></script>
	<!-- Owl Carousel Min JS -->
	<script src="~/Public/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup Min JS -->
	<script src="~/Public/js/jquery.magnific-popup.min.js"></script>
	<!-- Waypoints Min JS -->
	<script src="~/Public/js/waypoints.min.js"></script>
	<!-- Counter UP Min JS -->
	<script src="~/Public/js/jquery.counterup.min.js"></script>
	<!-- Jquery UI JS -->
	<script src="~/Public/js/jquery.ui.js"></script>
	<!-- ajaxChimp Min JS -->
	<script src="~/Public/js/jquery.ajaxchimp.min.js"></script>
	<!-- Form Validator JS -->
	<script src="~/Public/js/form-validator.min.js"></script>
	<!-- Contact Form JS -->
	<script src="~/Public/js/contact-form-script.js"></script>
	<!-- Map API JS FILES -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApghCIIx9MpQhA768sKXxvR_Okg0SF2k4&amp;callback=initMap"></script>
	<!-- Fox Map JS FILE -->
	<script src="~/Public/js/promedi-map.js"></script>
	<!-- Main JS -->
	<script src="~/Public/js/script.js"></script>
</body>

<!-- Mirrored from envytheme.com/tf-demo/promedi/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2019 21:21:45 GMT -->
</html>