
@{
	List<Service> services = ViewBag.Services as List<Service>;
}


<!-- Page Title -->
<div class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7">
				<h2>Services</h2>
			</div>

			<div class="col-md-6 col-lg-5">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li>Services</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title -->
<!-- Services Section -->
<section class="services-section ptb-100">
	<div class="container">
		<div class="row">
			@foreach (Service service in services)
			{
				<div class="col-lg-4 col-md-6">
					<div class="single-services">
						<div class="icon">
							<i class="icofont-@service.Icon"></i>
						</div>
						<h3>@service.Name</h3>
						<p>@service.Desc</p>
					</div>
				</div>
			}

		</div>
	</div>
</section>
<!-- End Services Section -->
<!-- Call To Action -->
<section class="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="call-to-action-text">
					<i class="icofont-first-aid"></i>
					<h3>Health Care Center</h3>
					<p>if you have any Emerangcy by health problem contact this <span>No. 035 687 9514</span> or contact form</p>
				</div>
			</div>

			<div class="col-lg-3">
				<a href="#" class="default-btn">Contact Us</a>
			</div>
		</div>
	</div>
</section>
<!-- End Call To Action -->
