
@{
	Layout = null;
}

<!doctype html>
<html lang="zxx">

<!-- Mirrored from envytheme.com/tf-demo/promedi/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2019 21:21:45 GMT -->
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

@Styles.Render("~/bundles/css")

	<title>ProMedi - Medical HTML Template</title>

	<link rel="icon" type="image/png" href="~/Public/img/favicon.png">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="d-table">
			<div class="d-tablecell">
				<div class="lds-heart">
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader -->
	<!-- Start Error Area -->
	<section class="error-area">
		<div class="d-table">
			<div class="d-tablecell">
				<div class="container">
					<div class="error">
						<h2>
							<img src="~/Public/img/error.png" alt="error">

							404!
						</h2>

						<h4>Oops! Page Not Found</h4>

						<p>The page you were looking for could not be found.</p>

						<a href="index.html" class="default-btn">Return Home</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Error Area -->
	@Scripts.Render("~/bundles/js")


</body>

<!-- Mirrored from envytheme.com/tf-demo/promedi/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2019 21:21:45 GMT -->
</html>